[Unit]
Description=Prometheus Monitor server
Documentation=https://prometheus.io/
Wants=docker.service
After=docker.service
After=network-online.target

[Service]
User=root
Group=root
Type=simple
Restart=always

ExecStartPre=/usr/bin/docker load --input /etc/prometheus/prometheus.tar.gz
ExecStart=/usr/bin/docker run \
  --volume=/etc/prometheus:/etc/prometheus:ro \
  --publish=9090:9090 \
  --name=prometheus \
  --add-host host.docker.internal:host-gateway \
  prom/prometheus:latest

ExecStop=/usr/bin/docker stop prometheus 
ExecStopPost=/usr/bin/docker rm -f prometheus
ExecStopPost=/usr/bin/docker image rm -f prom/prometheus:latest

[Install]
WantedBy=multi-user.target