[Unit]
Description=Prometheus Monitor server
Documentation=https://prometheus.io/
Wants=network-online.target
After=network-online.target docker.service

[Service]
User=prometheus
Group=docker
Type=simple
Restart=on-failure

ExecStartPre=/usr/bin/docker load --input /etc/prometheus/prometheus.tar.gz
ExecStart=/usr/bin/docker run \
  --volume=/etc/prometheus:/etc/prometheus:ro \
  --publish=9090:9090 \
  --name=prometheus \
  --add-host host.docker.internal:host-gateway
  prom/prometheus:latest

ExecStop=/usr/bin/docker stop prometheus 
ExecStopPost=/usr/bin/docker rm -f prometheus


[Install]
WantedBy=multi-user.target