[Unit]
Description=Prometheus Monitor server
Documentation=https://prometheus.io/
After=docker.service
After=network-online.target

[Service]
User=root
Group=root
Type=simple
Restart=always

ExecStartPre=/usr/bin/docker load --input /etc/prometheus/prometheus.tar.gz
ExecStart=/usr/bin/docker run \
  --volume=/etc/prometheus:/etc/prometheus:ro \
  --publish=9090:9090 \
  --name=prometheus \
  --add-host host.docker.internal:host-gateway \
  prometheus:latest \
  --config.file=/etc/prometheus/prometheus.yml \
  --storage.tsdb.retention.time=48h \
  --storage.tsdb.retention.size=2GB \
  --web.enable-admin-api \
  --web.enable-lifecycle

ExecStop=/usr/bin/docker stop prometheus 
ExecStopPost=/usr/bin/docker rm -f prometheus

[Install]
WantedBy=multi-user.target docker.service